// Place all the styles related to the chairs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chairs {
  background-image: url("../images/map.png");
  height: 720px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 770px;
}
.chair {
  background-image: url("../images/off.png");
  display: block;
  height: 60px;
  position: absolute;
  width: 60px;
}
.chair.active {
  background-image: url("../images/on.png");
}
.edit-mode .chair {
  -webkit-animation: blink 1s alternate infinite;
}
@-webkit-keyframes blink {
  0% { opacity:.5 }
  100% { opacity:1 }
}
